<html>
  <head>
    <title>一起跑-{{user.name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/media/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/media/resources/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/media/resources/css/jquery-ui.css">

    <script type="text/javascript" src="/media/resources/js/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/media/resources/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/media/resources/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/media/resources/js/profile.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">

      <!-- Title -->
      <div class="navbar-header">
	<a class="navbar-brand" href="/profile">一起跑</a>
      </div>

      <ul class="nav navbar-nav">
	<li><a href="/newrun">上传我的跑步数据</a></li>
      </ul>
      {% if user.is_admin %}
      <ul class="nav navbar-nav">
	<li><a href="/audit">数据审核</a></li>
      </ul>
      {% endif %}

      <ul class="nav navbar-nav navbar-right" style="margin-right:30px">
	<li>
          <a onclick="mark_seen()" data-toggle="modal" data-target="#notification">通知
            <span id="noti-count" class="badge" style="margin-left:5px">{{ notification_list|length }}</span>
	  </a>
	</li>


	<li><a data-toggle="modal" data-target="#user-info">{{user.name}}</a></li>
	<li><a href="/logout">退出登录</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
	<div class="col-md-8">
	  <h2>最新动态</h2>
	  <div class="btn-toolbar" role="toolbar">
	    <div class="btn-group">
              <button id="range0" type="button" class="btn btn-default active" onclick="change_run_log_range(0, 1)">所有人的跑步信息</button>
              <button id="range1" type="button" class="btn btn-default" onclick="change_run_log_range(1, 0)">我的跑步信息</button>
	    </div>
	  </div>

	  <ul class="list-group" style="margin-top: 30px; height:550px; overflow:auto;" id="run-logs">
	  </ul>

	  <button id="load-more" type="button" class="btn btn-primary" style="margin-top:30px;width:100%" onclick="load_run_log()">加载更多</button>
	</div>

	<div class="col-md-4">
	  <div class="list-group" style="height:650px; overflow: auto">
	    <a href="#" class="list-group-item active">
	      一起跑排行榜
	    </a>
	    {% for user in rank_list %}
	    <div class="list-group-item">
	      <div class="row">
		<div class="col-md-1">{{ forloop.counter }} </div>
		<div class="col-md-4"><a href="/profile/detail?user_id={{user.id}}">{{ user.name }}</a></div>
		<div class="col-md-6">{{ user.run_length }} km</div>
	      </div>
	    </div>
	    {% endfor %}
	  </div><!-- list-group -->
	</div><!-- col-md-3 -->
      </div><!-- row -->
    </div><!-- container -->


    <!-- dialogs  -->
    <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">通知</h4>
	  </div>
	  <div class="modal-body">
	    <ul class="list-group" >
              {% for noti in notification_list %}
              <li class="list-group-item">
		{{ noti.run_log.run_date|date:"Y/m/d" }} 的运动 {{ noti.run_log.sport }} 
		{% if noti.run_log.status == "accept" %}
		通过了
		{% else %}
		未能通过
		{% endif %}
		审核
		
		{% empty %}
		目前没有通知。您上传的数据的审核结果将会呈现在这里。
	      </li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	  </div>
	</div>
      </div>
    </div>

    <div class="modal fade" id="user-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">用户详情</h4>
	  </div>
	  <div class="modal-body">

	    <div class="page-header">
              <h1>{{ user.name }} <small>您总共运动了 {{user.run_length}} km</small></h1>
	    </div>

	    <div class="input-group" style="margin-bottom:10px">
              <span class="input-group-addon">修改用户名</span>
              <input id="c-username" type="text" class="form-control" placeholder="{{user.name}}">
	    </div>

	    <div class="input-group" style="margin-bottom:10px">
              <span class="input-group-addon">修改登录密码</span>
              <input id="c-new-p" type="password" class="form-control" placeholder="新密码">
	    </div>

	    <div class="input-group" style="margin-bottom:10px">
              <span class="input-group-addon">输入旧密码</span>
              <input id="c-old-p" type="password" class="form-control" placeholder="旧密码">
	    </div>

	    <div id="c-status"></div>

	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	    <button onclick="change_password()" type="button" class="btn btn-primary">修改密码</button>
	  </div>
	</div>
      </div>
    </div>


    <script>
      load_run_log();
    </script>
  </body>
</html>
